################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/20110431_TangTamNhu_FinalProject/FileContentIndex/00946fdc-7f0d-4cfa-8929-702e8716e266.vsidx
